<div
  class="{{ html.classNames(['rounded-lg overflow-hidden border border-slate-200/60 bg-white text-slate-700 shadow-sm', $props.class]) }}"
  {{ $props.except(['movie', 'class']).toAttrs() }}
>
  @if($slots.picture)
    {{{ await $slots.picture() }}}
  @end
  <div class="p-4">
    {{{ await $slots.main() }}}
  </div>
</div>
