@layout({ title: 'Writer' })
  <h1>
    Writer: {{ writer.fullName }}
  </h1>

  <div class="flex flex-wrap">
    @each(movie in writer.moviesWritten)
      <div class="w-full md:w-1/3 px-3">
        @!movie.card({ movie, class: 'w-full' })
      </div>
    @end
  </div>

@end
